/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500'); */

body{
  /* background: rgb(255, 255, 255); */
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'thsarabun';
  font-size: 1.5em;
}

.th500{
  font-family: 'thsarabun-500';
}

.navbar{
  background: rgb(50, 50, 50) !important;
}

a.dropdown-item{
  font-size: 1.3em;
}

#content_html h4{
  font-size: 20px !important;
}

#content_html h3{
  font-size: 22px !important;
}

li.active{
  background: rgb(87, 166, 231);
  padding: 0px 10px;
  border-radius: 3px;

}

.active>a{
  color: rgb(255, 255, 255) !important;
}

.nav-link{
  color: rgb(255, 255, 255) !important;
  margin-left: 5px;
  padding: 0px;
  font-size: 0.8em;
}

.nav-link:hover{
  color: rgb(255, 255, 255) !important;
  background: rgb(130, 130, 130);
}

.bsd{
  -webkit-box-shadow: 0px 10px 9px -6px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 10px 9px -6px rgba(0,0,0,0.19);
  box-shadow: 0px 10px 9px -6px rgba(0,0,0,0.19);
}

.main-slide-footage{
  background: rgb(255, 255, 255);
  padding: 20px 0px 10px 0px;
  border: none;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(223, 223, 223);
  /* background: url('../../media/bg.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; padding-bottom: 20px; padding-top: 20px;
}

.owl-dots{
  display:none !important;
}

#slider-bg{
  background: rgb(254, 122, 1);
  padding:0px 0px 10px 0px;
  border: none;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(223, 223, 223);
  background: url('../../media/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; padding-bottom: 20px; padding-top: 20px;
}

.f5x{
  font-weight: 500 !important;
}

.fs08{ font-size: 0.8em; }

.bg-none{
  background: none;
}

.card{ border-radius: 0px; border-color: rgb(240, 240, 240); }
.card-body{ padding: 0px;}
.card-item:hover{

}
.pc-title-header{
  font-size: 0.9em;
  font-weight: 500;
  /* position: absolute; */
  /* position: fixed; */
  /* height: 30px; */
}
.pc-title-ext{
  color: rgb(26, 141, 205)
}
.pin-content{
  padding: 10px; !important;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(237, 237, 237);
}

.pin-content:hover{
  background: rgb(246, 246, 246);
  cursor: pointer;
}

.footer a{
  color: #fff;
  font-size: 0.9em;
}

.pa10{ padding: 10px !important; }
.pa0{ padding: 0px !important; }

.mt-0{ margin-top: 0px !important; }
.mt-5{ margin-top: 5px !important; }
.mt-10{ margin-top: 10px !important; }
.mt-15{ margin-top: 15px !important; }
.mt-20{ margin-top: 20px !important; }
.mt-50{ margin-top: 50px !important; }
.mt-100{ margin-top: 100px !important; }

.mr-0{ margin-right: 0px !important; }
.mr-5{ margin-right: 5px !important; }
.mr-10{ margin-right: 10px !important; }
.mr-15{ margin-right: 15px !important; }
.mr-20{ margin-right: 20px !important; }

.ml-0{ margin-left: 0px !important; }
.ml-5{ margin-left: 5px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-15{ margin-left: 15px !important; }
.ml-20{ margin-left: 20px !important; }

.pb-30{
  padding-bottom: 30px;
}

.footer{
  /* margin-top: 30px; */
  padding: 20px 0px;
  background: rgb(65, 65, 65);
  color: #fff;
}

.sub-footer{
  background: #3b3b3b;
  color: #fff;
  font-size: 0.8em;
}

.menu-logo{
  position: fixed;
  top: 0px;
  left: 10px;
  width: 350px;
  height: 90px;
  background-color: rgb(0, 205, 144);
  z-index: 999999;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,.5));
}

.ext-link{
  padding: 0px 10px;
  border: none;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(245, 245, 245);
  cursor: pointer;
}

.ext-link a{
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.ext-link:hover{
  background: rgb(245, 245, 245);
  text-decoration: none;
}

tr td {
  padding: 5px;
}

thead tr th{
  padding: 5px;
}

table{
  margin-bottom: 20px;
}
